extends layout

block content
    .navbar
      .mobile-nav-btn
        .line1.mobline
        .line2.mobline
        .line3.mobline
      .nav
        ul
          li
            a(href='/') Products
          li
            a(href='/') Store finder
          li
            a(class="Activelink" href='/pages/about') About
          li
            a(href='/pages/contact') Contact
          li
            a(href='/pages/downloads') Downloads

    .hero-about
      .textbox
        h1 About
        .line
    .aboutconatiner 
      .aboutinner
        .left
            h2 In het over ons!
            p Welkom bij onze woonwinkel webshop! Wij zijn er trots op om een uitgebreide selectie van meubels en woonaccessoires aan te bieden om uw huis in te richten en te decoreren. Van stijlvolle banken tot mooie vloerkleden en sfeervolle verlichting, wij hebben alles wat u nodig heeft om uw huis om te toveren tot een warme en gezellige plek. Onze producten zijn zorgvuldig geselecteerd op basis van kwaliteit, design en betaalbaarheid. We hopen dat u bij ons de perfecte items zult vinden om uw droomhuis te creëren!
        .right
            h2 Kwaliteit en tevredenheid gegarandeerd.
            p Bij onze woonwinkel webshop staan we voor kwaliteit en klanttevredenheid. Onze producten worden zorgvuldig geselecteerd en we werken alleen met gerenommeerde fabrikanten om ervoor te zorgen dat u hoogwaardige en duurzame producten ontvangt. Onze klantenservice staat altijd voor u klaar om eventuele vragen te beantwoorden en u te helpen bij het maken van uw keuze. Bovendien bieden we een snelle levering en een eenvoudig retourbeleid om uw winkelervaring bij ons zo aangenaam mogelijk te maken.
        .left
            h2 Ontdek uw stijl bij ons.
            p Bij onze woonwinkel webshop begrijpen we dat uw huis uw persoonlijke toevluchtsoord is en dat u uw eigen stijl en smaak wilt weerspiegelen in uw inrichting. Daarom bieden we een breed scala aan producten in verschillende stijlen, van modern en minimalistisch tot rustiek en landelijk. Of u nu op zoek bent naar een stijlvolle eettafel, een comfortabele bank of een opvallend kunstwerk, wij hebben het allemaal. Ontdek onze collecties en laat ons u helpen om uw huis om te toveren tot uw eigen persoonlijke oase van rust en comfort.

